.primaryContact_div {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  background-color: brown;
  height: 70vh;
  justify-content: space-around;
  gap: 15px;
  overflow: scroll;
}
.primaryContact_div::-webkit-scrollbar {
  display: none;
}
.subPrimaryContact_div {
  display: flex;
  gap: 5px;
}

.subPrimaryContact_div input{
  height: 30px;
}
.inputy{
  height: 30px;
 
}

.saveButton {
  height: 30px;
  width: 80%;
  border: none;
  font-size: medium;
  font-weight: bolder;
  margin: 5px;
  cursor: pointer;
}
